body {
  background: darkgray;
  text-align: center;
  font-family: Verdana;
}

#drum-machine {
  margin-top: 20vh;
}

#display {
  padding: 40px;
}

.pad-container {
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 20%;
  flex-wrap: wrap;
}

.drum-pad {
  background: rgba(100,100,100,.7);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}

.drum-pad:hover {
  transition: all .3s linear;
  transform: scale(1.1);
}

.drum-pad:nth-child(4),
.drum-pad:nth-child(5),
.drum-pad:nth-child(6) {
  border-radius: 70% 50%;
  background: rgba(100,150,200,.7);
}

.drum-pad:nth-child(7),
.drum-pad:nth-child(8),
.drum-pad:nth-child(9) {
  border-radius: 30%;
  background: rgba(00,50,100,.5);
}